<div id="categories">
	
</div>
<center id="gps"><p>Sto usando la tua localizzazione <i class="fa fa-location-arrow"></i></p></center>
<center>
<p><a class="btn btn-primary btn-xl" onclick="Search();">Back</a></div></p>
</center>
