<section id="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ricerca eventi</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div id="categories" class="container">
<center>
    <p id="distanceViewer">Cercherai eventi entro: <b>10 km</b> di distanza.</p>
    <p><input id="distanceSlider" type="text" data-slider-id="RC" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="10"/></p>
    <p>Imposta una data e un momento della giornata</p>
    <p>
        <div id="setDate" class="btn-group hidden-xs" role="group" aria-label="">
            <button onclick="searchDate(0);" type="button" class="btn btn-default btnDateSelected">Oggi</button>
            <button onclick="searchDate(1);" type="button" class="btn btn-default btnDate">Domani</button>
        </div>
        <select id="setDate1" onchange="selectorDate($(this).val());" class="input-sm visible-xs">
            <option value="0">Oggi</option>
            <option value="1">Domani</option>
        </select>
        <input type="hidden" id="timeSelector" value="0">
        <p> </p>
        <div id="setTime" class="btn-group hidden-xs" role="group" aria-label="">
            <button id="defaultHour" onclick="searchTime(0,this);" type="button" class="btn btn-default btnDateSelected">Adesso</button>
            <button onclick="searchTime(8,this);" type="button" class="btn btn-default btnDate">Mattina</button>
            <button onclick="searchTime(12,this);" type="button" class="btn btn-default btnDate">Pomeriggio</button>
            <button onclick="searchTime(16,this);" type="button" class="btn btn-default btnDate">Sera</button>
            <button onclick="searchTime(20,this);" type="button" class="btn btn-default btnDate">Notte</button>
        </div>
        <select onchange="$('#hourSelector').val($(this).val());" class="input-sm visible-xs">
            <option id="defaultHour1" value="0">Adesso</option>
            <option value="8">Mattina</option>
            <option value="12">Pomeriggio</option>
            <option value="16">Sera</option>
            <option value="20">Notte</option>
        </select>
        <input type="hidden" id="hourSelector" value="0">
    </p>
    <p>Imposta dei filtri (premi invio per confermare)</p>
    <p>
        <div id="filtriContainer">
            <div style="border-radius: 300px 0px 0px 300px;" class="filtri">
                <i class="fa fa-tags"></i>
            </div></div><input id="filtriInput" type="text" class="input-sm">
    </p>
    
</center>
<div id="categories_container" class="multi-slider owl-carousel clearfix">
    <figure id="0" onclick="Category(null,this,0)" class="item"> 
        <div style="padding: 10px; text-align: center; cursor: pointer;" class="service-box">
            <i class="fa fa-4x fa-globe wow bounceIn text-primary"></i>
            <h3>Tutti</h3>
            <p class="text-muted">Se sei proprio senza idee, qui vedi tutti gli eventi!</p>
        </div>
    </figure>
</div>

</div>

</section>
<script>
    $(document).ready(function() {
        
        $("#distanceSlider").slider({
            formatter: function(value) {
                return value+' km';
            }
        });
        $("#distanceSlider").on("slide", function(slideEvt) {
            $("#distanceViewer").html("Cercherai eventi entro: <b>"+slideEvt.value+" km</b> di distanza.");
        });
        $("#filtriInput").keypress(function(e) {
            if(e.which == 13 || e.which == 32) {
                var filtro = $("#filtriInput").val();
                if (filtro!="" && filtro!=" ") {
                    $("#filtriContainer").append("<div value="+filtro+" class='filtri tags'>"+filtro+" <i onclick='$(this).parent().remove();' class='fa fa-times'></i></div>");
                }
                $("#filtriInput").val("");
            }
        });
     });
</script>